// TEMPLATE STYLES

//GENERAL
body {
  font-family: $font-family-sans-serif;
  font-size: $font-size-body;
  color: $black;
}

h1 {
  color: $darker-blue;
  font-weight: $font-weight-bold;
}

h2 {
  margin-top: $spacer * 4;
  margin-bottom: $spacer * 2;
  text-transform: uppercase;
}

//LAYOUT
.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main {
  flex: 1;
}

//NAVBAR
.header {
  position: relative;
}

.navbar {
  background-color: $darker-blue;
}

.navbar-brand {
  img {
    height: 90px;
  }
}

.sitename {
  margin: 0;
  padding: $navbar-padding-y $navbar-padding-x;
  background-color: $dark-blue;
  color: $white;
  font-weight: $font-weight-normal;
  text-align: center;
}

.blazon {
  position: absolute;
  top: $spacer;
  right: $spacer * 2;
  z-index: 1;
  display: none;

  @media (min-width: 1680px) {
    display: block;
  }
}

//MENUS
.navbar {
  .nav-item {
    margin-left: $spacer;
  }

  .nav-link {
    color: $white;

    &:hover {
      color: $white;
    }

    &.picto {
      position: relative;
      padding-left: 1.5rem;

      &::before {
        content: "";
        display: block;
        width: 18px;
        height: 18px;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        background-position: 0 center;
        background-repeat: no-repeat;
        background-size: 18px;
      }

      &[href*="inscription"] {
        &::before {
          background-image: url("../img/edit-solid.svg");
        }
      }

      &[href*="connexion"] {
        &::before {
          background-image: url("../img/power-off-solid.svg");
        }
      }

      &[href*="deconnexion"] {
        &::before {
          background-image: url("../img/power-off-solid.svg");
        }
      }

      &[href*="contact"] {
        &::before {
          background-image: url("../img/at-solid.svg");
        }
      }

      &[href*="conference"] {
        &::before {
          background-image: url("../img/play-solid.svg");
        }
      }
    }
  }
}

.navbar-toggler {
  border-color: $white;
}

.navbar-toggler-icon {
  img {
    width: 26px;
  }
}

.connexion {
  .nav {
    margin-left: -$nav-link-padding-x;
  }

  .nav-link {
    text-decoration: underline;
  }
}

//FOOTER
footer {
  .logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    img {
      height: 92px;
      margin: $spacer * 1.5;
    }
  }
}

// FORMS
label {
  display: block;
}

.form-check-input {
  margin-top: 0.6rem;
}

.custom-control-label {
  line-height: 1;
}

.cf-form-wrap {
  padding: 0 !important;
}

.cf-label {
  font-weight: $font-weight-normal !important;
}

.convertforms.cf-success .cf-response {
  background-color: $secondary;
  color: black;
}

// MESSAGE
#system-message-container {
  background-color: $yellow;
}
