// TEMPLATE STYLES

//GENERAL
body {
  overflow-x: hidden;
  font-family: $font-family-sans-serif;
  font-size: $font-size-body;
  color: $black;
}

h1 {
  color: $dark-blue;
}

h2 {
  color: $dark-blue;
  font-weight: $font-weight-light;
}

.fullwidth {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

//LAYOUT
.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main {
  flex: 1;
}

//HEADER
.header {
  background-color: $black;

  > [class*="container"] {
    position: relative;
  }
}

.navbar-brand {
  position: absolute;
  top: -45px;
  left: 0;
  width: 280px;
  z-index: 10000;

  // @include media-breakpoint-up(md) {
  //   left: -64px;
  //   width: 400px;
  // }
  @include media-breakpoint-up(md) {
    width: 320px;
  }

  @include media-breakpoint-up(lg) {
    left: -64px;
    // width: 320px;
    top: -75px;
    transform: rotate(2deg);
  }
}

.wrapper {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;

  @include media-breakpoint-up(md) {
    height: 200px;
  }
}

.slogan {
  margin: 0;
  // margin-top: auto;
  color: $white;
  font-size: $h2-font-size;
  @include media-breakpoint-up(lg) {
    font-size: $h1-font-size;
  }
  font-weight: $font-weight-black;
  letter-spacing: 0.03em;
  text-align: right;
  text-transform: uppercase;

  &.breakpoint {
    margin-bottom: 1em;
    font-size: $h1-font-size;
    font-weight: $font-weight-normal;
    text-align: left;
  }
}

.sitename {
  margin: 0;
  padding: $navbar-padding-y $navbar-padding-x;
  background-color: $dark-blue;
  color: $white;
  font-weight: $font-weight-normal;
  text-align: center;
}

//MENUS
.navbar {
  padding-top: $spacer * 1.5;
  padding-bottom: $spacer * 1.5;
  padding-right: 0;
  padding-left: 0;
  background-color: #00b8f1;

  .nav-item {
    flex: 1 0 auto;
  }

  .nav-link {
    padding-top: 0;
    padding-bottom: 0;
    border-left: 1px solid $white;
    color: $white;
    font-family: $font-family-condensed;
    font-weight: $font-weight-bold;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;

    &:hover {
      color: $white;
    }

    &.picto {
      position: relative;
      padding-left: 1.5rem;

      &::before {
        content: "";
        display: block;
        width: 18px;
        height: 18px;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        background-position: 0 center;
        background-repeat: no-repeat;
        background-size: 18px;
      }

      &[href*="inscription"] {
        &::before {
          background-image: url("../img/edit-solid.svg");
        }
      }

      &[href*="connexion"] {
        &::before {
          background-image: url("../img/power-off-solid.svg");
        }
      }

      &[href*="deconnexion"] {
        &::before {
          background-image: url("../img/power-off-solid.svg");
        }
      }

      &[href*="contact"] {
        &::before {
          background-image: url("../img/at-solid.svg");
        }
      }

      &[href*="conference"] {
        &::before {
          background-image: url("../img/play-solid.svg");
        }
      }
    }

    &.no-border {
      padding-left: 0;
      border: none;
    }

    &.icon {
      // padding-right: 0;

      img {
        height: 30px;
        position: relative;
        top: -5px;
      }
    }
  }
}

.nav {
  &.main-nav {
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
}

.navbar-toggler {
  border-color: $white;
}

.navbar-toggler-icon {
  img {
    width: 26px;
  }
}

.header {
  .nav {
    &.signin {
      display: none;
      @media (min-width: 660px) {
        display: flex;
      }

      .nav-link {
        margin: $nav-link-padding-y;
        background-color: $blue-ghp;
        color: #fff;
        font-family: "Roboto Condensed", sans-serif;
        font-weight: 700;
        font-size: 18px;
        text-align: center;
        text-transform: uppercase;
      }
    }
  }
}

//FOOTER
footer {
  background-color: $black;
  color: $white;

  .logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    img {
      height: 92px;
      margin: $spacer * 1.5;
    }
  }
}

// FORMS
label {
  display: block;
}

.form-check-input {
  margin-top: 0.6rem;
}

.custom-control-label {
  line-height: 1;
}

.cf-control-label {
  text-align: left;
}

.cf-label {
  font-weight: $font-weight-normal !important;
}

.cf-required-label {
  color: $white !important;
}

.cf-btn-text {
  font-weight: $font-weight-black;
  text-transform: uppercase;
}

.convertforms.cf-success .cf-response {
  background-color: $black;
  color: $white;
}

// MESSAGE
#system-message-container {
  background-color: $yellow;
}
